
input{
  height: 30px;
  width: 400px;
}
button{
  height: 36px;
  
}
img{
  height: 100px;
  width: 100px;
}
.ajout{
border: 2px solid black ;
    width: 100px;
    height: 100px;
  display: flex;
align-items: center;
justify-content: center;
font-size: xx-large;}
.etoiles{
  display: flex;
}
.search{
  display: flex;
}
i:hover
{

    color: turquoise;
    cursor: pointer;

}
.films{
  display: flex;
}
.note{
  display: flex;
  justify-content: flex-end;
}
.film{
  border: 2px solid black;
  width: 120px;
  

}